<nav class="navbar d-lg-none bg-white px-3 py-2">
    <div class="d-flex justify-content-between align-items-center w-100">
        <!-- Logo on the left -->
        <a class="logo-font text-black my-0" href="{% url 'home' %}"><strong>Staff</strong><strong> Sale</strong> Portal</a>

<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            <a href="{% url 'home' %}" class="dropdown-item">Home</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            <a href="{% url 'home' %}" class="dropdown-item">Home</a>
        {% endif %}
    </div>
</li>
