{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/10f0e0b783.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Staff Sale Portal {% block extra_title %}{% endblock %}</title>
  <meta name="description" content="Preloved devices at fabulous prices, exclusively for staff.">
</head>

<body>
  <header class="w-100 fixed-top bg-white">
    <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <h2 class="logo-font text-black my-0"><strong>Staff</strong><strong> Sale</strong> Portal</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="">
          <div class="input-group w-100">
            
            <div class="input-group-append">
          
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'customer_profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              <a href="{% url 'home' %}" class="dropdown-item">Home</a>

              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              <a href="{% url 'home' %}" class="dropdown-item">Home</a>
              
              {% endif %}
            </div>
          </li>
          
        </ul>
      </div>
    </div>
     <!-- Mobile Header -->
     <nav class="navbar d-lg-none bg-white py-2 w-100">
      <div class="d-flex justify-content-between align-items-center w-100 ps-3 pe-2">
        <!-- Logo -->
        <a class="logo-font text-black my-0" href="{% url 'home' %}">
          <strong>Staff</strong><strong> Sale</strong> Portal
        </a>

        <!-- My Account -->
        <div class="dropdown myaccountblock">
          <a class="text-black nav-link p-0" href="#" id="user-options"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
              <div><i class="fas fa-user fa-lg"></i></div>
              <p class="my-0">My Account</p>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'customer_profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              <a href="{% url 'home' %}" class="dropdown-item">Home</a>
            {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              <a href="{% url 'home' %}" class="dropdown-item">Home</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>

  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% block content %}
  {% endblock %}
<!-- Footer -->
<footer class="bg-dark text-white py-1 mt-3">
  <div class="container text-center">
    <h5 class="mb-3">Subscribe to our Newsletter</h5>
    <form action="https://formspree.io/f/manokoze" method="POST" class="form-inline d-flex justify-content-center flex-wrap">
      <input type="email" name="email" class="form-control mb-2 mr-2 w-50" placeholder="Enter your email" required>
      <button type="submit" class="btn btn-light mb-2">Subscribe</button>
    </form>

    <div class="mt-1">
      <p class="mb-2">Follow us:</p>
      <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=61576233850068" class="text-white mx-2" aria-label="Facebook" rel="nofollow noopener" target="_blank">
        <i class="fab fa-facebook fa-lg"></i>
      </a>
      <a href="https://x.com/?lang=en" class="text-white mx-2" aria-label="Twitter / X" rel="nofollow noopener" target="_blank">
        <i class="fab fa-twitter fa-lg"></i>
      </a>
      <a href="https://www.instagram.com/" class="text-white mx-2" aria-label="Instagram" rel="nofollow noopener" target="_blank">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </div>

    <p class="mt-4 mb-0 small">&copy; 2025 Staff Sale Portal. All rights reserved.</p>
  </div>
</footer>

</body>

</html>